
    <form >
        <div class="row border">
            <div class="col-12">
                <h1>Completa el formulario</h1>
            </div>
            <div class="col-6">

                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="model.nombre" name="nombre" id="nombre" aria-describedby="emailHelp">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">cedula</label>
                    <input type="number" class="form-control" [(ngModel)]="model.cedula" name="cedula" id="cedula" aria-describedby="emailHelp">

                </div>




            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">direccion</label>
                    <input type="text" class="form-control" [(ngModel)]="model.direccion" name="direccion" id="direccion" aria-describedby="emailHelp">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">telefono</label>
                    <input type="number" class="form-control" [(ngModel)]="model.telefono" name="telefono" id="telefono" aria-describedby="emailHelp">

                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary" (click) = "setUsuario()">guardar</button>
                <button type="submit" class="btn btn-primary" (click) = "clean()">Limpiar</button>
            </div>
        </div>
    </form>
